---
title: "Support"
---

{% include header.html %}
		<div class="page-header page-header--support">
				<h1>{{ page.title }}</h1>
		</div>
		<div class="page-main">
			<p class="lead">We offer developer-led support from the team that built Event Store. Whether you require next business day response times or a 24&times;7 guaranteed SLA we have a support service to suit you.</p>
			<p class="call-to-action">
				<a href="mailto:sales@geteventstore.com" class="btn btn--primary">Contact us about support</a>
				<a href="http://support.geteventstore.com" class="btn btn--secondary">Customer Login</a>
			</p>
			<h2>Standard Support</h2>
			<p>Our standard support services are available Monday to Friday working hours GMT and on a Next Business Day response.</p>
			<ul>
				<li>Additional tools to simplify cluster management and configuration.</li>
				<li>Developer-led support from the team that built Event Store.</li>
				<li>Incident management through Zendesk.</li>
			</ul>
			<h2>Enterprise Support</h2>
			<p>Enhanced support packages are available for customers with more demanding requirements.</p>
			<ul>
				<li>Everything included in our standard support service.</li>
				<li>24&times;7 availability.</li>
				<li>Up to two hour response time for <em>Priority 1</em> incidents.</li>
				<li>Named account manager.</li>
			</ul>
			<h2>Community Support</h2>
			<p>The <a href="https://groups.google.com/forum/#!forum/event-store">Event Store Google Group</a> offers community-led support for customers with non-critical support requirements.</p>
		</div>
	</div>
{% include footer.html %}