---
title: "Downloads"
---

{% include header.html %}
		<div class="page-header page-header--downloads">
			<h1>{{ page.title }}</h1>
			<p class="lead">Download the latest version of the Event Store binaries from this page to get started right away, or take a look at our source code on <a href="https://github.com/eventstore/eventstore">GitHub</a>.</p>
		</div>
		<div class="page-main">
			<p class="call-to-action">
				<a href="http://download.geteventstore.com/binaries/eventstore-net-2.0.1.zip" class="btn btn--primary">Get Event Store 2.0.1 for .NET</a>
				<a href="http://download.geteventstore.com/binaries/eventstore-mono-2.0.1.tgz" class="btn btn--primary">Get Event Store 2.0.1 for Mono (Linux)</a>
			</p>
			<h2>.NET Client API</h2>
			<p>The .NET client API is available either as part of the packages or on NuGet. The package name is <a href="http://nuget.org/packages/EventStore.Client">EventStore.Client</a>.</p>
			<h2>Pre-Release Versions of Event Store</h2>
			<p><em>Please note that pre-release versions of the Event Store are not recommended for production use.</em></p>
			<p>When upgrading to v3.0.0 Release Candidate 2 with an existing database, it is necessary to stop all projections which are running in version 2 before upgrading, and restart them when the upgrade is complete.</p>
			<table>
				<tbody>
					<tr>
						<td>Event Store 3.0.0 Release Candidate 2</td>
						<td><a href="http://download.geteventstore.com/binaries/eventstore-net-3.0.0rc2.zip">Get for .NET</a></td>
						<td><a href="http://download.geteventstore.com/binaries/eventstore-mono-3.0.0rc2.tgz">Get for Mono (Linux)</a></td>
						<td><a href="http://download.geteventstore.com/binaries/eventstore-mono-mac-3.0.0rc2.tgz">Get for Mono (Mac OS X)</a></td>
					</tr>
			</table>
			<h2>Tools</h2>
			<p><a href="http://download.geteventstore.com/binaries/ProjectionsUpgrade-v1.x-v2.0.0.zip">Projections Upgrade Tool (1.x to 2.x)</a></p>
			<h2>Past Versions of Event Store</h2>
			<table>
				<tbody>
					<tr>
						<td>Event Store 2.0.0</td>
						<td><a href="http://download.geteventstore.com/binaries/eventstore-net-2.0.0.zip">Get for .NET</a></td>
						<td><a href="http://download.geteventstore.com/binaries/eventstore-mono-2.0.0.tgz">Get for Mono (Linux)</a></td>
					</tr>
					<tr>
						<td>Event Store 1.0.1</td>
						<td><a href="http://download.geteventstore.com/binaries/eventstore-net-1.0.1.zip">Get for .NET</a></td>
						<td><a href="http://download.geteventstore.com/binaries/eventstore-mono-1.0.1.tgz">Get for Mono (Linux)</a></td>
					</tr>
					<tr>
						<td>Event Store 1.0.0</td>
						<td><a href="http://download.geteventstore.com/binaries/eventstore-net-1.0.0.zip">Get for .NET</a></td>
						<td><a href="http://download.geteventstore.com/binaries/eventstore-mono-1.0.0.zip">Get for Mono (Linux)</a></td>
					</tr>
			</table>
		</div>
	</div>
{% include footer.html %}