---
title: "Downloads"
description: "Download Event Store binaries for Windows, Linux or Mac OS X."
---

<style>
    .download-buttons a {
        display: block;
        margin: 0 0 0.75rem;
        text-align: center;
    }
    .download-icon-container {
        text-align: center;
    }
    .download-icon {
        height: 6rem;
    }
    .downloads__previous-versions table {
        width: 100%;
    }
    .page-section--banner .lead {
        max-width: 54rem;
        margin: 1.5rem auto !important;
        text-align: center;
    }
    @media (min-width: 720px) {
        .download-icon-container {
            margin: 3rem 0 0;
            text-align: left;
            text-indent: 3rem;
        }
        .download-icon {
            height: 18rem;
        }
        .downloads__other {
            margin-right: 4.5rem;
        }
    }
</style>

{% include header.html %}
    <div class="page-title">
        <div class="inner-container">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="page-section--support-banner">
        <div class="inner-container">
            <div class="page-section__half download-icon-container">
                <img class="download-icon" src="../images/download.svg">
            </div>
            <div class="page-section__half">
                <p class="call-to-action download-buttons">
                    <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.6.2.zip" class="btn btn--primary">Get Event Store 3.6.2 for Windows</a>
                    <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-14.04-v3.6.3.tar.gz" class="btn btn--primary">Get Event Store 3.6.3 for Ubuntu 14.04</a>
                    <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-14.04-v3.6.3.tar.gz" class="btn btn--primary">Get Event Store 3.6.3 for Ubuntu 14.04 (without mono statically linked)</a>
                    <a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.6.3.tar.gz" class="btn btn--primary">Get Event Store 3.6.3 for OS X</a>
                    <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.6.3.tar.gz" class="btn btn--primary">Get Event Store 3.6.3 for OS X (without mono statically linked)</a>
                </p>
            </div>
        </div>
    </div>
    <div class="page-section--banner">
        <div class="inner-container">
            <p class="lead">Download the latest Event Store binaries for your chosen platform here. If you’d like to browse the source code, or contribute, check out the <a href="https://github.com/eventstore/eventstore">GitHub repository</a>.</p>
            <p class="lead">For users of Ubuntu 14.04, we have a package repository from which you can install Event Store. Follow the instructions <a href="http://docs.geteventstore.com/server/latest/installing-from-debian-repositories/">here</a> to install via the package repository.</p>
        </div>
    </div>
    <div class="page-section">
        <div class="inner-container">
            <div class="page-section__half">
                <div class="downloads__other">
                    <h2>Client APIs</h2>
                    <p>The .NET client API is available either as part of the packages or on NuGet. The package name is <a href="http://nuget.org/packages/EventStore.Client">EventStore.Client</a>.</p>
                    <p>The JVM client using Akka is available on GitHub or Maven. The repository is <a href="https://github.com/EventStore/EventStore.JVM">EventStore.JVM</a>.
                    <h2>Tools</h2>
                    <p><a href="http://download.geteventstore.com/binaries/ProjectionsUpgrade-v1.x-v2.0.0.zip">Projections Upgrade Tool (1.x to 2.x)</a></p>
                    <p><a href="http://download.geteventstore.com/cli/es_cli.linux.1.0.0.tar.gz">Event Store CLI 1.0.0 for Linux</a></p>
                    <p><a href="http://download.geteventstore.com/cli/es_cli.osx.1.0.0.tar.gz">Event Store CLI 1.0.0 for OSX</a></p>
                    <p><a href="http://download.geteventstore.com/cli/es_cli.windows.1.0.0.zip">Event Store CLI 1.0.0 for Windows</a></p>
                </div>
            </div>
            <div class="page-section__half">
                <div class="downloads__previous-versions">
                    <h2>Previous Versions of Event Store</h2>
                    <h3>Event Store 3</h3>
                    <p>When upgrading to v3.0.x from v2 with an existing database, it is necessary to stop all projections which are running in v2 before upgrading, and restart them when the upgrade is complete.</p>
                    <table>
                        <tbody>
                            <tr>
                                <td>Event Store 3.6.2</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.6.2.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-v3.6.2.tar.gz">Ubuntu 14.04</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-v3.6.2.tar.gz">Ubuntu 14.04 (Mono)</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.6.2.tar.gz">Mac OS X</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.6.2.tar.gz">Mac OS X (Mono)</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.6.1</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.6.1.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-v3.6.1.tar.gz">Ubuntu 14.04</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-v3.6.1.tar.gz">Ubuntu 14.04 (Mono)</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.6.1.tar.gz">Mac OS X</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.6.1.tar.gz">Mac OS X (Mono)</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.6.0</td>
                                <td>For Windows see <a href="https://github.com/EventStore/EventStore/releases/tag/oss-v3.6.2">3.6.2 release notes</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-v3.6.0.tar.gz">Ubuntu 14.04</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-v3.6.0.tar.gz">Ubuntu 14.04 (Mono)</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.6.0.tar.gz">Mac OS X</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.6.0.tar.gz">Mac OS X (Mono)</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.5.0</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.5.0.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-v3.5.0.tar.gz">Ubuntu 14.04</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-v3.5.0.tar.gz">Ubuntu 14.04 (Mono)</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.5.0.tar.gz">Mac OS X</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.5.0.tar.gz">Mac OS X (Mono)</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.4.0</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.4.0.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-v3.4.0.tar.gz">Ubuntu 14.04</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-v3.4.0.tar.gz">Ubuntu 14.04 (Mono)</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.4.0.tar.gz">Mac OS X</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.4.0.tar.gz">Mac OS X (Mono)</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.3.1</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.3.1.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-v3.3.1.tar.gz">Ubuntu 14.04</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-v3.3.1.tar.gz">Ubuntu 14.04 (Mono)</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.3.1.tar.gz">Mac OS X</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.3.1.tar.gz">Mac OS X (Mono)</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.3.0</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.3.0.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-v3.3.0.tar.gz">Ubuntu 14.04</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-v3.3.0.tar.gz">Ubuntu 14.04 (Mono)</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.3.0.tar.gz">Mac OS X</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.3.0.tar.gz">Mac OS X (Mono)</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.2.2</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.2.2.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-v3.2.2.tar.gz">Ubuntu 14.04</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-v3.2.2.tar.gz">Ubuntu 14.04 (Mono)</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.2.2.tar.gz">Mac OS X</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.2.2.tar.gz">Mac OS X (Mono)</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.2.1</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.2.1.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-v3.2.1.tar.gz">Ubuntu 14.04</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-v3.2.1.tar.gz">Ubuntu 14.04 (Mono)</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.2.1.tar.gz">Mac OS X</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.2.1.tar.gz">Mac OS X (Mono)</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.2.0</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.2.0.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-v3.2.0.tar.gz">Ubuntu 14.04</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-v3.2.0.tar.gz">Ubuntu 14.04 (Mono)</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.2.0.tar.gz">Mac OS X</a><br /><br />
                                <a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.2.0.tar.gz">Mac OS X (Mono)</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.1.0</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.1.0.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Ubuntu-v3.1.0.tar.gz">Ubuntu 14.04</a><br /><br /><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-Ubuntu-v3.1.0.tar.gz">Ubuntu 14.04 (Mono)</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-MacOSX-v3.1.0.tar.gz">Mac OS X</a><br /><br /><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mono-MacOSX-v3.1.0.tar.gz">Mac OS X (Mono)</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.0.5</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.0.5.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Linux-v3.0.5.tar.gz">Linux</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mac-v3.0.5.tar.gz">Mac OS X</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.0.4</td>
                                <td colspan="3">See <a href="https://github.com/EventStore/EventStore/releases/tag/oss-v3.0.5">3.0.5 release notes</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.0.3</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.0.3.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Linux-v3.0.3.tar.gz">Linux</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mac-v3.0.3.tar.gz">Mac OS X</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.0.2</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.0.2.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Linux-v3.0.2.tar.gz">Linux</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mac-v3.0.2.tar.gz">Mac OS X</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.0.1</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.0.1.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Linux-v3.0.1.tar.gz">Linux</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mac-v3.0.1.tar.gz">Mac OS X</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.0.0</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.0.0.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Linux-v3.0.0.tar.gz">Linux</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mac-v3.0.0.tar.gz">Mac OS X</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.0.0 RC9</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.0.0-rc9.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Linux-v3.0.0-rc9.tar.gz">Linux</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mac-v3.0.0-rc9.tar.gz">Mac OS X</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 3.0.0 RC2</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v3.0.0-rc2.zip">Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Linux-v3.0.0-rc2.tar.gz">Linux</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Mac-v3.0.0-rc2.tar.gz">Mac OS X</a></td>
                            </tr>
                    </table>
                    <h3>Event Store 2</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Event Store 2.0.1</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v2.0.1.zip">Get for Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Linux-v2.0.1.tar.gz">Get for Linux</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 2.0.0</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v2.0.0.zip">Get for Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Linux-v2.0.0.tar.gz">Get for Linux</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>Event Store 1</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Event Store 1.0.1</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v1.0.1.zip">Get for Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Linux-v1.0.1.tar.gz">Get for Linux</a></td>
                            </tr>
                            <tr>
                                <td>Event Store 1.0.0</td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Win-v1.0.0.zip">Get for Windows</a></td>
                                <td><a href="http://download.geteventstore.com/binaries/EventStore-OSS-Linux-v1.0.0.tar.gz">Get for Linux</a></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% include footer.html %}
