---
title: "Homepage"
---

{% include header.html %}
    <div class="container">
		<div class="page-header page-header--homepage">
			<h1>The open-source, functional database with Complex Event Processing in JavaScript.</h1>
			<p class="call-to-action">
				<a href="{{ site.url }}/features" class="btn btn--primary">See what Event Store can do</a>
				<a href="http://docs.geteventstore.com/introduction" class="btn btn--secondary">Learn about event sourcing</a>
			</p>
		</div>
	</div>
{% include footer.html %}
