---
title: "Homepage"
---

<style>
.home-banner a {
    display: block;
    margin: -0.75rem 0 1.5rem;
    padding: 0.75rem;
    background: #6BA300;
    color: #FFF;
    border-radius: 0.25rem;
    font-weight: 700;
    text-align: center;
}
.home-banner a:focus, .home-banner a:hover {
    background: #5A8A00;
    color: #FFF;
}
</style>

{% include header.html %}
		<div class="page-header page-header--homepage">
			<h1>The open-source, functional database with Complex Event Processing in JavaScript.</h1>
			<p class="call-to-action">
				<a href="{{ site.url }}/features" class="btn btn--primary">See what Event Store can do</a>
				<a href="https://github.com/eventstore/eventstore/wiki/Event-Sourcing-Basics" class="btn btn--secondary">Learn about event sourcing</a>
			</p>
		</div>
        <div class-"page-main--wide">
            <div class="home-banner">
                <a href="http://geteventstore.com/two-years-on/">Ouro turns two this year! Come and celebrate with us in London, UK on 17th September 2014.</a>
            </div>
        </div><!-- 
		<div class="page-main--wide">
			<ul class="activity-tiles">
				<li>
					<a href="https://github.com/eventstore/eventstore">
						<span class="activity-number">3,088</span>
						<span class="activity-label">Commits</span>
					</a>
				</li>
				<li>
					<a href="https://github.com/EventStore/EventStore/stargazers">
						<span class="activity-number">533</span>
						<span class="activity-label">Stargazers</span>
					</a>
				</li>
				<li>
					<a href="{{ site.url }}/community">
						<span class="activity-number">9</span>
						<span class="activity-label">Upcoming Events</span>
					</a>
				</li>
				<li>
					<a href="{{ site.url }}/blog">
						<span class="activity-number">34</span>
						<span class="activity-label">Blog Posts</span>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/geteventstore">
						<span class="activity-number">494</span>
						<span class="activity-label">Tweets</span>
					</a>
				</li>
				<li>
					<a href="https://groups.google.com/forum/#!forum/event-store">
						<span class="activity-number">329</span>
						<span class="activity-label">Forum Members</span>
					</a>
				</li>
			</ul>
		</div> -->
	</div>
{% include footer.html %}