	<div class="site-footer">
		<div class="container">
			<p class="footer__copyright">&copy; 2014 Event Store LLP. All rights reserved.</p>
			<ul class="footer__menu">
				<li class="footer__menu__item"><a href="{{ site.url }}">Home</a></li>
				<li class="footer__menu__item"><a href="{{ site.url }}/about">About Us</a></li>
				<li class="footer__menu__item"><a href="{{ site.url }}/blog">Blog</a></li>
				<li class="footer__menu__item"><a href="http://www.redbubble.com/people/eventstore/shop">Shop</a></li>
				<li class="footer__menu__item"><a href="{{ site.url }}/terms">Terms</a></li>
				<li class="footer__menu__item"><a href="mailto:sales@geteventstore.com">Contact</a></li>
			</ul>
		</div>
	</div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ site.url }}/js/scripts.min.js"></script>
	{% include analytics.html %}
</body>
</html>