@mixin shadowbox($bg: $green, $fg: $white) {
	background: $bg;
	@if $bg != $white {
		border-radius: 0.25rem;
	}
	color: $fg;
	@if $bg == $white {
		border-radius: 0.125rem;
		box-shadow: 0 0.125rem 0.5rem transparentize(darken($bg, 50%), 0.875),
			0 0 1px darken($bg, 25%);
	}
}

@mixin clearfix {
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}