.page-section {
    @include clearfix;
    @include underlined;
    padding: 1.5rem 0;
    h1, h2, h3, ul, ol, p {
        max-width: none;
    }
    p {
        &.lead {
            margin: 3rem 0;
            color: $grey-dark;
            font-size: 1.5rem;
            line-height: 2.25rem;
        }
    }
    @media (min-width: 720px) {
        padding: 1.5rem 0;
    }
}

.page-section__half {
    float: left;
    width: 100%;
    @media (min-width: 720px) {
        width: 50%;
    }
}

.page-section__minor {
    float: left;
    width: 100%;
    @media (min-width: 720px) {
        width: 37.5%;
    }
}

.page-section__major {
    float: left;
    width: 100%;
    @media (min-width: 720px) {
        width: 62.5%;
    }
}

.community-intro-placeholder {
    display: block;
    width: 100%;
    min-height: 12rem;
    background-image: url("http://placehold.it/1600x600");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
}