.site-footer {
	margin: 0 0 3rem;
	color: $grey;
	a {
		color: $grey;
		&:focus, &:hover {
			color: $grey-dark;
		}
	}
}

.footer__copyright {
	float: left;
	display: inline-block;
	margin: 0 0 0 0.75rem;
}

.footer__menu {
	float: right;
	display: inline-block;
	margin: 0 0.75rem 0 0;
	padding: 0;
	list-style: none;
	@include clearfix;
}

.footer__menu__item {
	float: left;
	display: inline-block;
	margin: 0 0 0 0.75rem;
	@include clearfix;
}