.site-footer {
    margin: 0 0 3rem;
    color: $grey;
    text-align: center;
    a {
        color: $grey;
        &:focus, &:hover {
            color: $grey-dark;
        }
    }
    .inner-container {
        padding: 3rem 0;
        background-image: linear-gradient(180deg, $white-off 0%, $white-off 50%, transparent 50%, transparent 100%);
        background-position: top left;
        background-repeat: repeat-x;
        background-size: 2px 2px;
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            background-size: 1px 1px;
        }
    }
}

.footer__copyright {
	float: left;
	display: inline-block;
	margin: 0 0 0 0.75rem;
}

.footer__menu {
	float: right;
	display: inline-block;
	margin: 0 0.75rem 0 0;
	padding: 0;
	list-style: none;
	@include clearfix;
}

.footer__menu__item {
	float: left;
	display: inline-block;
	margin: 0 0 0 0.75rem;
	@include clearfix;
}