$font-base:           freight-sans-pro, sans-serif;
$font-base-size:      12pt;
$font-base-weight:    400;

$font-heading:        $font-base;
$font-heading-weight: 600;

$black:               #313C47;
$blue:                #64B3FF;
// $green-light:         #5AB552;
$green-light:         #5AB552;
$green:               lighten($green-light, 5%);
$grey:                #636472;
$grey-dark:           #435261;
$grey-light:          #D3DBE3;
$white:               #FFFFFF;
$white-off:           #F9F9F9;