---
title: "About Us"
description: "These are the people behind Event Store."
---

{% include header.html %}
	<div class="page-title">
        <div class="inner-container">
			<h1>{{ page.title }}</h1>
        </div>
	</div>
    <div class="page-section">
        <div class="inner-container">
    		<ul class="team-list">
    			<li>
    				<img src="/images/greg-young.jpg" alt="Photo of Greg Young">
    				<h2>Greg Young</h2>
    				<p>Partner / Developer</p>
    			</li>
                <li>
                    <img src="/images/chris-watt.jpg" alt="Photo of Chris Watt">
                    <h2>Chris Watt</h2>
                    <p>Partner</p>
                </li>
                <li>
                    <img src="/images/james-nugent.jpg" alt="Photo of James Nugent">
                    <h2>James Nugent</h2>
                    <p>Developer / Support</p>
                </li>
                <li>
                    <img src="/images/pieter-germishuys.jpg" alt="Photo of Pieter Germishuys">
                    <h2>Pieter Germishuys</h2>
                    <p>Developer / Support</p>
                </li>
                <li>
                    <img src="/images/dan-leech.jpg" alt="Photo of Dan Leech">
                    <h2>Dan Leech</h2>
                    <p>Designer / Community</p>
                </li>
                <li>
                    <img src="/images/jon-bradford.jpg" alt="Photo of Jon Bradford">
                    <h2>Jon Bradford</h2>
                    <p>Developer / Support</p>
                </li>
                <li>
                    <img src="/images/rich-knight.jpg" alt="Photo of Rich Knight">
                    <h2>Rich Knight</h2>
                    <p>Developer / Support</p>
                </li>
                <li>
                    <img src="/images/chris-ware.jpg" alt="Photo of Chris Ware">
                    <h2>Chris Ware</h2>
                    <p>Support</p>
                </li>
                <li>
                    <img src="/images/yaroslav-klymko.jpg" alt="Photo of Yaroslav Klymko">
                    <h2>Yaroslav Klymko</h2>
                    <p>Developer</p>
                </li>
                <li>
                    <img src="/images/yuriy-solodkyy.jpg" alt="Photo of Yuriy Solodkyy">
                    <h2>Yuriy Solodkyy</h2>
                    <p>Developer (ELEKS)</p>
                </li>
    		</ul>
    	</div>
    </div>
{% include footer.html %}