---
title: "About Us"
---

{% include header.html %}
		<div class="page-header page-header--support">
				<h1>{{ page.title }}</h1>
		</div>
		<div class="page-main">
			<ul class="team-list">
				<li>
					<img src="{{ site.url }}/images/eleks.png" alt="ELEKS">
					<h2>ELEKS</h2>
					<p>Developer</p>
				</li>
				<li>
					<img src="{{ site.url }}/images/greg-young.png" alt="Greg Young">
					<h2>Greg Young</h2>
					<p>Partner / Developer</p>
				</li>
				<li>
					<img src="{{ site.url }}/images/jon-bradford.png" alt="Jon Bradford">
					<h2>Jon Bradford</h2>
					<p>Developer / Support</p>
				</li>
				<li>
					<img src="{{ site.url }}/images/rich-knight.png" alt="Rich Knight">
					<h2>Rich Knight</h2>
					<p>Developer / Support</p>
				</li>
				<li>
					<img src="{{ site.url }}/images/dan-leech.png" alt="Dan Leech">
					<h2>Dan Leech</h2>
					<p>Designer / Community</p>
				</li>
				<li>
					<img src="{{ site.url }}/images/andrii-nakryiko.png" alt="Andrii Nakryiko">
					<h2>Andrii Nakryiko</h2>
					<p>Developer (ELEKS)</p>
				</li>
				<li>
					<img src="{{ site.url }}/images/james-nugent.png" alt="James Nugent">
					<h2>James Nugent</h2>
					<p>Developer / Support</p>
				</li>
				<li>
					<img src="{{ site.url }}/images/kostya-pyatkivskyy.png" alt="Kostya P’yatkivskyy">
					<h2>Kostya P’yatkivskyy</h2>
					<p>Developer (ELEKS)</p>
				</li>
				<li>
					<img src="{{ site.url }}/images/yuriy-solodkyy.png" alt="Yuriy Solodkyy">
					<h2>Yuriy Solodkyy</h2>
					<p>Developer (ELEKS)</p>
				<li>
					<img src="{{ site.url }}/images/chris-ware.png" alt="Chris Ware">
					<h2>Chris Ware</h2>
					<p>Support</p>
				</li>
				<li>
					<img src="{{ site.url }}/images/chris-watt.png" alt="Chris Watt">
					<h2>Chris Watt</h2>
					<p>Partner</p>
				</li>
			</ul>
		</div>
	</div>
{% include footer.html %}