---
title: "Support Plans"
---

{% include header.html %}
    <div class="page-title">
        <div class="inner-container">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="inner-container">
		<div class="page-section page-section--appliances">
            <div class="page-section__major page-appliances">
                <div class="appliances-padding">
        			<table>
        				<thead>
        					<tr>
        						<th>Standard Appliance</th>
        						<th>Pro Appliance</th>
        					</tr>
        				</thead>
        				<tbody>
        					<tr>
        						<td>1U half-depth</td>
        						<td>1U full-depth, with rails</td>
        					</tr>
        					<tr>
        						<td>Dual Gigabit LAN</td>
        						<td>Quad Gigabit LAN</td>
        					</tr>
        					<tr>
        						<td>Intel Core i3-4130 (3MB cache, 3.4GHz)</td>
        						<td>Intel Xeon E5-2603 1.6GHz Six Core (15MB cache)</td>
        					</tr>
        					<tr>
        						<td>32GB DDR3 RAM</td>
        						<td>72GB DDR4 RAM</td>
        					</tr>
        					<tr>
        						<td>Single PSU</td>
        						<td>Dual PSU</td>
        					</tr>
        					<tr>
        						<td>
        							240GB SSD<br>
        							2TB 7200rpm HDD
        						</td>
        						<td>
                                    80GB SSD<br>
        							4&times; swappable 2TB 7200rpm HDDs
        						</td>
        					</tr>
        					<tr>
        						<td></td>
        						<td>Hardware RAID with NAND-flash backup</td>
        					</tr>
        					<tr>
        						<td>
        							<span class="price">£1,995</span><br>
        							<span class="price-sub">+ £995/year per cluster support</span>
                                    <a href="#" class="btn btn--primary">Buy Now</a>
        						</td>
        						<td>
        							<span class="price">£3,995</span><br>
        							<span class="price-sub">+ £995/year per cluster support</span>
                                    <a href="#" class="btn btn--primary">Buy Now</a>
        						</td>
        					</tr>
        				</tbody>
        			</table>
                </div>
            </div>
            <div class="page-section__minor">
                <div class="appliances-padding--description">
                    <h2>Appliances</h2>
                    <p>Purpose built Event Store appliances are available in two models; Standard and Pro. Support costs are significantly reduced for appliance owners.</p>
                    <p>If you are interested in buying Event Store appliances please get in touch so we can discuss your needs and how best to fulfill them.</p>
                    <!-- <p class="call-to-action">
                        <a href="#" class="btn btn--primary">Buy in our Shop</a>
                    </p> -->
                </div>
            </div>
		</div>
	</div>
{% include footer.html %}
