---
title: "Community"
---

{% include header.html %}
		<div class="page-header page-header--community">
				<h1>{{ page.title }}</h1>
		</div>
		<div class="page-main">
			<h2>Google Group</h2>
			<p>Discuss problems and solutions, ask questions and get help from fellow developers and members of the Event Store team on our Google Group. We actively monitor threads and try to help developers whenever we can.</p>
			<p class="call-to-action">
				<a href="#" class="btn btn--secondary">Visit our Google Group</a>
			</p>
			<h2>Events</h2>
			<table class="table-events">
				<thead>
					<tr>
						<th>What</th>
						<th>When</th>
						<th>Where</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<h3><a href="http://reactconf.com/">React 2014</a></h3>
							<p>A 3 day, single track conference about building reactive applications. Greg Young will be speaking.</p>
						</td>
						<td>7–9 Apr 2014</td>
						<td>London<br>UK</td>
					</tr>
					<tr>
						<td>
							<h3><a href="http://www.eventbrite.co.uk/e/liam-westley-talks-event-store-tickets-10950263533?aff=eorg">DareDevs UK April 2014</a></h3>
                            <p>Dare Devs is a user group which meets in Daresbury each month. Liam Westley from Huddle will be speaking about the Event Store.</p>
						</td>
						<td>16 Apr 2014</td>
						<td>Daresbury<br>UK</td>
					</tr>
					<tr>
						<td>
							<h3><a href="http://craft-conf.com/2014/">Craft Conference 2014</a></h3>
							<p>Craft is about software craftsmanship. Greg Young will be speaking.</p>
						</td>
						<td>23–25 Apr 2014</td>
						<td>Budapest<br>Hungary</td>
					</tr>
					<tr>
						<td>
							<h3><a href="http://www.kcdc.info/">KCDC 2014</a></h3>
                            <p>KCDC is a three-day, multi-track event in Kansas City covering all aspects of software development. James Nugent will be speaking.</p>
						</td>
						<td>12–14 Mar 2014</td>
						<td>Kansas City<br>USA</td>
					</tr>
					<tr>
						<td>
							<h3><a href="http://gotocon.com/chicago-2014/">GOTO Chicago 2014</a></h3>
							<p>GOTO Chicago highlights some of the newest trends and best practices in software development today. Greg Young will be speaking.</p>
						</td>
						<td>20–23 May 2014</td>
						<td>Chicago<br>USA</td>
					</tr>
					<tr>
						<td>
							<h3><a href="http://https://skillsmatter.com/conferences/1820-progressive-dot-net-tutorials-2014">Progressive .NET Tutorials 2014</a></h3>
                            <p>The Progressive .NET Tutorials are a unique conference where you will get to go beyond the basics, with 4 hour tutorial sessions from .NET experts. Greg Young and James Nugent will be giving tutorials.</p>
						</td>
						<td>28–30 May 2014</td>
                        <td>London<br>UK</td>
					</tr>
					<tr>
						<td>
							<h3><a href="http://ndcoslo.com">NDC Oslo 2014</a></h3>
                            <p>NDC is a festival for developers held each year in Oslo. James Nugent will be speaking.</p>
						</td>
						<td>26–27 June 2014</td>
						<td>Oslo<br>Norway</td>
					</tr>
					<tr>
						<td>
							<h3><a href="http://nsbcon.com">NSBCon 2014</a></h3>
							<p>The conference for all things NServiceBus - in Particular. Greg Young will be speaking.</p>
						</td>
						<td>26–27 June 2014</td>
						<td>London<br>UK</td>
					</tr>
					<tr>
						<td>
							<h3><a href="http://buildstuff.lt/">Build Stuff 2014</a></h3>
							<p>An annual developer conference with a focus on real-world stories. Greg Young and James Nugent will be speaking, the whole Event Store team will be attending.</p>
						</td>
						<td>19–21 Nov 2014</td>
						<td>Vilnius<br>Lithuania</td>
					</tr>
				</tbody>
			</table>
			<p>We try to keep this list of events involving or relating to Event Store as up-to-date as possible. If you are involved in an event that isn’t listed here, but you think might be relevant, please let us know!</p>
			<p class="call-to-action">
				<a href="mailto:dan@geteventstore.com" class="btn btn--secondary">Suggest an event</a>
			</p>
		</div>
	</div>
{% include footer.html %}
