---
title: "Community"
---

{% include header.html %}
    <div class="page-title">
		<div class="inner-container">
				<h1>{{ page.title }}</h1>
		</div>
    </div>
    <div class="page-section--banner">
        <div class="inner-container">
            <div class="page-section__half">
                <p class="lead">Our developer community is important to us. It gives us a place to grow, and provides vital feedback and input to help us make Event Store a great product.</p>
            </div>
            <div class="page-section__half">
                <span class="community-intro-placeholder">&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="inner-container">
        <div class="page-section">
            <ul class="contribution-stats">
                <li class="contribution-stats__stat">
                    <span class="value">36</span>
                    <span class="label">GitHub Contributors</span>
                </li>
                <li class="contribution-stats__stat">
                    <span class="value">1,025</span>
                    <span class="label">Watchers/Stargazers</span>
                </li>
                <li class="contribution-stats__stat">
                    <span class="value">187</span>
                    <span class="label">Forks</span>
                </li>
                <li class="contribution-stats__stat">
                    <span class="value">490</span>
                    <span class="label">Google Group Members</span>
                </li>
                <li class="contribution-stats__stat">
                    <span class="value">619</span>
                    <span class="label">Google Group Topics</span>
                </li>
                <li class="contribution-stats__stat">
                    <span class="value">1,518</span>
                    <span class="label">Twitter Followers</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner-container">
        <div class="page-section">
            <div class="page-section__minor">
                <h2>Join the Discussion</h2>
                <p>Event Store has an active Google Group with new posts every day. This is the best place to share your questions and answers with the community.</p>
            </div>
            <div class="page-section__major">
                <ul class="discussion-icons">
                    <li class="discussion-icons__item--google-group"><a href="#">Google Group</a></li>
                    <li class="discussion-icons__item--twitter"><a href="#">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="inner-container">
        <div class="page-section">
            <div class="page-section__major">
                <ul class="events">
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://www.ndc-london.com"><span class="flag-icon flag-icon-gb flag-icon-squared"></span> NDC London 2014</a></h3>
                        <p class="event-info">1–5 Dec 2014, London, UK</p>
                    </li>
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://rigadevday.lv"><span class="flag-icon flag-icon-lv flag-icon-squared"></span> Riga Dev Day</a></h3>
                        <p class="event-info">22 Jan 2015, Riga, Latvia</p>
                    </li>
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://buildstuff.lt"><span class="flag-icon flag-icon-lt flag-icon-squared"></span> Build Stuff 2015</a></h3>
                        <p class="event-info">18–20 Nov 2015, Vilnius, Lithuania</p>
                    </li>
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://www.ndc-london.com"><span class="flag-icon flag-icon-gb flag-icon-squared"></span> NDC London 2014</a></h3>
                        <p class="event-info">1–5 Dec 2014, London, UK</p>
                    </li>
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://rigadevday.lv"><span class="flag-icon flag-icon-lv flag-icon-squared"></span> Riga Dev Day</a></h3>
                        <p class="event-info">22 Jan 2015, Riga, Latvia</p>
                    </li>
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://buildstuff.lt"><span class="flag-icon flag-icon-lt flag-icon-squared"></span> Build Stuff 2015</a></h3>
                        <p class="event-info">18–20 Nov 2015, Vilnius, Lithuania</p>
                    </li>
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://www.ndc-london.com"><span class="flag-icon flag-icon-gb flag-icon-squared"></span> NDC London 2014</a></h3>
                        <p class="event-info">1–5 Dec 2014, London, UK</p>
                    </li>
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://rigadevday.lv"><span class="flag-icon flag-icon-lv flag-icon-squared"></span> Riga Dev Day</a></h3>
                        <p class="event-info">22 Jan 2015, Riga, Latvia</p>
                    </li>
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://buildstuff.lt"><span class="flag-icon flag-icon-lt flag-icon-squared"></span> Build Stuff 2015</a></h3>
                        <p class="event-info">18–20 Nov 2015, Vilnius, Lithuania</p>
                    </li>
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://www.ndc-london.com"><span class="flag-icon flag-icon-gb flag-icon-squared"></span> NDC London 2014</a></h3>
                        <p class="event-info">1–5 Dec 2014, London, UK</p>
                    </li>
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://rigadevday.lv"><span class="flag-icon flag-icon-lv flag-icon-squared"></span> Riga Dev Day</a></h3>
                        <p class="event-info">22 Jan 2015, Riga, Latvia</p>
                    </li>
                    <li class="events__item">
                        <h3 class="event-title"><a href="http://buildstuff.lt"><span class="flag-icon flag-icon-lt flag-icon-squared"></span> Build Stuff 2015</a></h3>
                        <p class="event-info">18–20 Nov 2015, Vilnius, Lithuania</p>
                    </li>
                </ul>
            </div>
            <div class="page-section__minor">
                <h2>Attend an Event</h2>
                <p>We attend events all over the world, and several of our developers are regulars on the conference talk circuit. Come say hi!</p>
                <p>If there’s an event you think would be interesting to Event Store users that isn’t listed here, please let us know.</p>
                <p>We have stickers and other goodies ready to send out to anyone who is planning to talk about Event Store at an event.</p>
            </div>
        </div>
    </div>
    <div class="inner-container">
        <div class="page-section">
            <h2>Resources</h2>
        </div>
    </div>
{% include footer.html %}
