---
title: "Community"
---

{% include header.html %}
    <div class="page-title">
		<div class="inner-container">
				<h1>{{ page.title }}</h1>
		</div>
    </div>
    <div class="inner-container">
        <div class="page-section">
            <div class="page-section__half">
                <p class="lead">Our developer community is important to us. It gives us a place to grow, and provides vital feedback and input to help us make Event Store a great product.</p>
            </div>
            <div class="page-section__half">
                <span class="community-intro-placeholder">&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="inner-container">
        <div class="page-section">
            <div class="page-section__major">
                <ul class="contribution-stats">
                    <li class="contribution-stats__stat">
                        <span class="value">222</span>
                        <span class="label">GitHub stargazers</span>
                    </li>
                    <li class="contribution-stats__stat">
                        <span class="value">222</span>
                        <span class="label">GitHub stargazers</span>
                    </li>
                    <li class="contribution-stats__stat">
                        <span class="value">222</span>
                        <span class="label">GitHub stargazers</span>
                    </li>
                    <li class="contribution-stats__stat">
                        <span class="value">222</span>
                        <span class="label">GitHub stargazers</span>
                    </li>
                    <li class="contribution-stats__stat">
                        <span class="value">222</span>
                        <span class="label">GitHub stargazers</span>
                    </li>
                    <li class="contribution-stats__stat">
                        <span class="value">222</span>
                        <span class="label">GitHub stargazers</span>
                    </li>
                </ul>
            </div>
            <div class="page-section__minor">
                <h2>Contributors</h2>
                <p>Amazing people are contributing their thoughts, feedback, code and enthusiasm to the Event Store community all the time. We like to promote and reward these contributions.</p>
            </div>
        </div>
    </div>
    <div class="container">
		<div class="page-main">
			<h2>Google Group</h2>
			<p>Discuss problems and solutions, ask questions and get help from fellow developers and members of the Event Store team on our Google Group. We actively monitor threads and try to help developers whenever we can.</p>
			<p class="call-to-action">
				<a href="https://groups.google.com/forum/#!forum/event-store" class="btn btn--secondary">Visit our Google Group</a>
			</p>
			<h2>Events</h2>
			<table class="table-events">
				<thead>
					<tr>
						<th>What</th>
						<th>When</th>
						<th>Where</th>
					</tr>
				</thead>
				<tbody>
                    <tr>
                        <td>
                            <h3><a href="http://www.nashdotnet.org">Nashville .NET User Group</a></h3>
                            <p>A prominent .NET user group. James will be speaking on Event Store internals.</p>
                        </td>
                        <td>16 Oct 2014</td>
                        <td>Nashville, TN<br />USA</td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="http://www.theweb.is">The Web Is&hellip;</a></h3>
                            <p>Celebrating 25 years of the World Wide Web. Dan and Rich will be attending.</p>
                        </td>
                        <td>30–31 Oct 2014</td>
                        <td>Cardiff<br />Wales</td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="http://summitdublin.com">The Summit Dublin</a></h3>
                            <p>Major international tech and startup conference. Event Store will be exhibiting.</p>
                        </td>
                        <td>4–6 Nov 2014</td>
                        <td>Dublin<br />Ireland</td>
                    </tr>
					<tr>
						<td>
							<h3><a href="http://buildstuff.lt/">Build Stuff 2014</a></h3>
							<p>An annual developer conference with a focus on real-world stories. Greg Young and James Nugent will be speaking, the whole Event Store team will be attending.</p>
						</td>
						<td>19–21 Nov 2014</td>
						<td>Vilnius<br />Lithuania</td>
					</tr>
                    <tr>
                        <td>
                            <h3><a href="http://www.ndc-london.com">NDC London 2014</a></h3>
                            <p>The famous Norwegian Developer's Conference returns to London. James Nugent will be speaking.</p>
                        </td>
                        <td>1-5 Dec 2014</td>
                        <td>London</br />England</td>
                    </tr>
                    <tr>
                        <td>
                            <h3><a href="http://rigadevday.lv">Riga Dev Day</a></h3>
                            <p>Software conference in Riga, Latvia with tracks covering JVM and web development, databases, DevOps and other case studies. James Nugent will be speaking.</p>
                        </td>
                        <td>22 Jan 2015</td>
                        <td>Riga<br />Latvia</td>
                    </tr>
				</tbody>
			</table>
			<p>We try to keep this list of events involving or relating to Event Store as up-to-date as possible. If you are involved in an event that isn’t listed here, but you think might be relevant, please let us know!</p>
			<p class="call-to-action">
				<a href="mailto:dan@geteventstore.com?subject=Event%20Suggestion" class="btn btn--secondary">Suggest an event</a>
			</p>
		</div>
    </div>
{% include footer.html %}
