---
title: "Appliances"
---

{% include header.html %}
	<style>
		.page-appliances {
			margin-top: 0;
			background-image: url('appliance.jpg');
			background-position: 35em -5em;
			background-repeat: no-repeat;
			background-size: 55%;
		}
		.page-appliances h1, .page-appliances p.lead {
			margin-left: 0;
		}
		.page-appliances table {
			width: 100%;
			margin-top: 3em;
		}
		.page-appliances table th, .page-appliances table td {
			text-align: left;
		}
		.price {
			color: #6BA300;
			font-weight: 700;
			font-size: 2.25rem;
			line-height: 3rem;
		}
	</style>
		<div class="page-main page-appliances">
			<h1>{{ page.title }}</h1>
			<p class="lead">Purpose built Event Store appliances are available in two models; Standard and Pro. Support costs are significantly reduced for appliance users.</p>
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Standard Appliance</th>
						<th>Pro Appliance</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Size</td>
						<td>1U half-depth</td>
						<td>1U full-depth, with rails</td>
					</tr>
					<tr>
						<td>Networking</td>
						<td>Dual Gigabit LAN</td>
						<td>Qual Gigabit LAN</td>
					</tr>
					<tr>
						<td>CPU</td>
						<td>Intel Core i3-2120</td>
						<td>Intel Xeon E5-2403 2.8GHz Quad Core</td>
					</tr>
					<tr>
						<td>Memory</td>
						<td>32GB RAM</td>
						<td>72GB RAM</td>
					</tr>
					<tr>
						<td>Storage</td>
						<td>
							240GB SSD<br>
							2TB 7200rpm HDD
						</td>
						<td>
							320GB SSD<br>
							4&times; swappable 2TB 7200rpm HDDs
						</td>
					</tr>
					<tr>
						<td>Power</td>
						<td>Single PSU</td>
						<td>Dual PSU</td>
					</tr>
					<tr>
						<td>RAID</td>
						<td></td>
						<td>Hardware RAID with NAND-flash backup</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<span class="price">£1,995</span><br>
							<span class="price-sub">+ £995/year per cluster support</span>
						</td>
						<td>
							<span class="price">£3,995</span><br>
							<span class="price-sub">+ £995/year per cluster support</span>
						</td>
					</tr>
				</tbody>
			</table>
			<p>If you are interested in buying Event Store appliances please get in touch so we can discuss your needs and how best to fulfill them.</p>
			<p class="call-to-action">
				<a href="mailto:sales@geteventstore.com?subject=Appliances" class="btn btn--primary">Ask For More Information</a>
			</p>
		</div>
	</div>
{% include footer.html %}
